//COLORS
$color-primary: #ff9933;
$color-primary-light: #ff9966;
$color-primary-light-1: #ffc266;
$color-primary-dark: #cc6600;
$color-primary-dark-1: #993300;

$color-yellow: #ffbb33;
$color-yellow-light: #ffdd99;

$color-grey-dark: #404040;
$color-grey-light: #666666;
$color-grey-light-1: #b3b3b3;
$color-white: #fff;
$color-black: #000;

//GRID
$grid-width: 100vw;
$gutter-vertical: 0rem;
$gutter-horizontal: 3px;

//FONT
$default-font-size: 1.6rem;
