.u-center-text {
  text-align: center;
}
.u-active {
  background-color: $color-primary-light;
}

.u-active-blue {
  background-color: cyan;
}

.u-pre-blue {
  background-color: #0033cc;
}

.u-margin-bottom-small {
  margin-bottom: 0.5rem;
}

.u-capital {
  text-transform: capitalize;
}
